src/main/mule/batch-job.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="batch-jobBatch">
        <ee:transform doc:name="records">
            <ee:message>
                <ee:set-payload>%dw 2.0
output application/java  
var a = 1 to 1000
---
a map {
  name: $
}</ee:set-payload>
            </ee:message>
        </ee:transform>

        <batch:job jobName="batch-jobBatch">
            <batch:process-records>
                <batch:step name="Batch_Step">
                    <logger message="#[&quot;first step payload - $(payload)&quot;]" level="INFO" doc:name="Logger" />
                    <batch:aggregator size="5" doc:name="Batch Commit">
                        <logger message="#[&quot;batch commit- $(payload)&quot;]" level="INFO" doc:name="Logger" />
                    </batch:aggregator>
                </batch:step>
                <batch:step name="Batch_Step1">
                    <logger message="#[&quot;step 2 payload - $(payload)&quot;]" level="INFO" doc:name="Logger" />
                </batch:step>
            </batch:process-records>
        </batch:job>

    </flow>

    <flow name="batch-jobFlow">
        <flow-ref name="batch-jobBatch" doc:name="batch-jobBatch" />

    </flow>

</mule>
