src/main/mule/filter.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="filterFlow">
        <idempotent-message-validator doc:name="Idempotent Message" />

        <error-handler>
            <on-error-propagate type="DUPLICATE_MESSAGE" logException="false">
                <set-variable variableName="filtered" value="#[true]" />
            </on-error-propagate>
        </error-handler>

    </flow>

</mule>
