src/main/mule/java.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="javaFlow">
        <logger message="#[&quot;before java - $(message)&quot;]" level="INFO" doc:name="Logger - before java" />

        <custom-transformer class="com.test.service.Test" doc:name="Java">
            <!--Migration ERROR: Element 'custom-transformer' which relied on Java no longer exists in Mule 4. Replace its uses with a new Mule 4 feature.-->
        </custom-transformer>

        <logger message="#[&quot;after java - $(message)&quot;]" level="INFO" doc:name="Logger - after java" />

    </flow>

</mule>
