src/main/app/batch-job.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<batch:job name="batch-jobBatch">
		<batch:input>
			<dw:transform-message doc:name="records">
				<dw:set-payload><![CDATA[%dw 1.0
%output application/java
%var a = [1..1000]
---
a map {
	name : $
	
}]]></dw:set-payload>
			</dw:transform-message>
		</batch:input>
		<batch:process-records>
			<batch:step name="Batch_Step">
				<logger message="first step payload - #[payload]" level="INFO" doc:name="Logger"/>
				<batch:commit size="5" doc:name="Batch Commit">
					<logger message="batch commit- #[payload]" level="INFO" doc:name="Logger"/>
				</batch:commit>
			</batch:step>
			<batch:step name="Batch_Step1">
				<logger message="step 2 payload - #[payload]" level="INFO" doc:name="Logger"/>
			</batch:step>
		</batch:process-records>
	</batch:job>
	<flow name="batch-jobFlow">
		<batch:execute name="batch-jobBatch" doc:name="batch-jobBatch"/>
	</flow>
</mule>
