src/main/app/expression.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<flow name="expressionFlow">
		<logger message="#[message.inboundProperties.'name']" level="INFO" doc:name="Logger - inbound"/>
		<logger message="#[xpath3('//root/element1')]" level="INFO" doc:name="Logger - xpath"/>
		<logger message="#[message.payloadAs(java.lang.String)]" doc:name="Logger - as string"/>
		<expression-transformer expression="#[($.value in  message.inboundAttachments.entrySet() if $.key ~= '(.*\\.txt|.*\\.xml)')]" doc:name="Expression"/>
		<logger message="#[payload is NullPayload]" level="INFO" doc:name="Logger - check null paylaod"/>
		<logger message="#[java.util.UUID.randomUUID().toString()]" level="INFO" doc:name="Logger - UUID"/>
		
	</flow>
	<flow name="transformers">
		<byte-array-to-object-transformer doc:name="Byte Array to Object"/>
		<json:json-to-object-transformer doc:name="JSON to Object"/>
	</flow>
	<flow name="regex">
		<logger message="#[regex('^(To|From|Cc):')]" level="INFO" doc:name="Logger - find email cc"/>
		<logger message="#[regex(regularExpression [, melExpression [, matchFlags]])]" level="INFO" doc:name="Logger - match "/>
	</flow>
	<flow name="registery">
		<logger message="#[muleContext.getRegistry()]" level="INFO" doc:name="Logger - mule context"/>
		<logger message="#[app.registry]" level="INFO" doc:name="Logger app registry"/>
	</flow>
	<flow name="server-expression">
		<logger message="#[server.dateTime] #[server.osName] #[server.locale]" level="INFO" doc:name="Logger - server expression"/>
		<logger message="#[mule.home]" level="INFO" doc:name="Logger - Mule"/>
		<logger message="#[app.name] #[app.registry]" level="INFO" doc:name="Logger - application"/>
		<logger message="#[message.correlationId] #[message.id] #[message.payload]" level="INFO" doc:name="Logger - message"/>
	</flow>
</mule>
