src/main/app/java.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="javaFlow">
		<logger message="before java - #[message]" level="INFO" doc:name="Logger - before java"/>
		<custom-transformer class="com.test.service.Test" doc:name="Java"/>
		<logger message="after java - #[message]" level="INFO" doc:name="Logger - after java"/>
	</flow>
</mule>
