src/main/app/vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<vm:connector name="VM" validateConnections="true" doc:name="VM"/>
	<flow name="vmFlow">
		<vm:inbound-endpoint exchange-pattern="one-way" path="test-queue" connector-ref="VM" doc:name="VM"/>
		<logger message="vm queue payload - #[payload]" level="INFO" doc:name="Logger - payload"/>
	</flow>
	<flow name="vmFlow1">
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	name : "rajhans"
}]]></dw:set-payload>
		</dw:transform-message>
		<vm:outbound-endpoint exchange-pattern="one-way" path="test-queue" doc:name="VM"/>
	</flow>
</mule>
