target/classes/dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="dataweaveFlow">
		<dw:transform-message doc:name="dataweave">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var name = "Rajhans Jakhmola"
%var a= [[1,2],[3,4],[5,6]]
%function myname(fullName) fullName splitBy " "
---
{
	firstName : (myname(name))[0],
	lastName : (myname(name))[1],
	flat : flatten a,
	email : lower "RAJHAnsJakhmola@gmail.com",
	condition : "Raj" when (name contains "Raj") otherwise ("Jakhmola") when (name contains ",") otherwise "",
	concat : "raj" ++ "hans",
	strings: name[0..5] ++ name[6..10]
	
}]]></dw:set-payload>
		</dw:transform-message>
		<dw:transform-message doc:name="outbound property">
			<dw:set-property propertyName="user"><![CDATA[%dw 1.0
%output application/java
---
"rajhans jakhmola"]]></dw:set-property>
			<dw:set-property propertyName="http.status"><![CDATA[%dw 1.0
%output application/java
---
200]]></dw:set-property>
		</dw:transform-message>
		<dw:transform-message doc:name="session var">
			<dw:set-session-variable variableName="name"><![CDATA[%dw 1.0
%output application/java
---
"my name"]]></dw:set-session-variable>
		</dw:transform-message>
		<set-session-variable variableName="hello" value="#[&quot;werewr&quot;]" doc:name="Session Variable"/>
		<batch:set-record-variable variableName="yoyo" value="#[&quot;hello&quot;]" doc:name="Record Variable"/>
		<remove-session-variable variableName="hello" doc:name="Session Variable"/>
		<batch:remove-record-variable variableName="yoyo" doc:name="Record Variable"/>
	</flow>
</mule>
