target/classes/health-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="choice-router">
		<choice doc:name="Choice - check region">
			<when expression="#[payload.region == &quot;ASIA&quot;]">
				<logger message="ASIA region" level="INFO" doc:name="Logger - ASIA"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger - NON ASIA"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="scatter-gather">
		<scatter-gather doc:name="Scatter-Gather" timeout="3000">
			<threading-profile maxThreadsActive="1" maxThreadsIdle="1" threadTTL="200" poolExhaustedAction="RUN" threadWaitTimeout="3000"/>
			<dw:transform-message doc:name="Transform Message">
				<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload ++ { age : "30"}]]></dw:set-payload>
			</dw:transform-message>
			<dw:transform-message doc:name="Transform Message">
				<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload ++ { company : "Mulesoft"}]]></dw:set-payload>
			</dw:transform-message>
		</scatter-gather>
	</flow>
	<flow name="for-each">
		<dw:transform-message doc:name="empty record">
			<dw:set-variable variableName="record"><![CDATA[%dw 1.0
%output application/java
---
[]]]></dw:set-variable>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<logger message="for each record for counter #[flowVars.counter] is #[payload]" level="INFO" doc:name="Logger  record"/>
			<dw:transform-message doc:name="concat">
				<dw:set-variable variableName="record"><![CDATA[%dw 1.0
%output application/java
---
flowVars.record ++ payload]]></dw:set-variable>
			</dw:transform-message>
		</foreach>
		<dw:transform-message doc:name="final payload">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flowVars.record]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
